body {
    background-color: rgb(70, 122, 122);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 50px auto;
    border: 15px solid orange;
    background-color: rgb(126, 126, 126);
    outline: 15px solid rgb(0, 0, 0);
    padding: 20px;
    max-width: 1200px; /* Limitar el ancho máximo */
}

.row.justify-content-center {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #00aced;
}

footer p {
    margin: 10px 0;
    font-size: 14px;
}

footer a {
    color: #00aced;
}

footer a:hover {
    text-decoration: underline;
}

.mt-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.card {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 20px;
}

.accordion-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.title {
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
